!################
! Colors
!################
Xft.dpi: 120

!################
! Colors
!################
*foreground: white
*background: black

!################
! URxvt settings
!################
URxvt.font: xft: Hermit Light:size=10
URxvt.scrollbar: false
